<div class ="jumbotron">
<h1><i class="fa fa-book" aria-hidden="true"></i> Weekly Report <small>周报管理系统</small></h1>
<p>周报管理系统</p>

<%= link_to "登 录",new_user_session_path,class:"btn btn-primary btn-lg"%>
</div>