<ol class="breadcrumb">
      <li><%= link_to '周报管理系统', authenticated_root_path %></li>
      <li class="active">修改项目</li>      
  </ol>

<h1>编辑项目内容</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', projects_path %>