<div class ="jumbotron">
<h1><i class="fa fa-book" aria-hidden="true"></i> Weekly Report <small>周报管理系统</small></h1>
<p>周报管理系统</p>

<%= link_to '项目列表', controller: 'projects' %>
<%= link_to '新增项目', new_project_path %>
<%= link_to "登 录",new_user_session_path,class:"btn btn-primary btn-lg"%>


</div>