
<ol class="breadcrumb">
  		<li><%= link_to '周报管理系统', authenticated_root_path %></li>
  		<li class="active">新增项目</li>  		
	</ol>

<div class="panel panel-primary">
	<div class="panel-heading">新增项目</div>
	<div class="panel-body">
      <%= render 'form'%>
     </div>
</div>


<%= link_to '返回项目列表', authenticated_root_path %>